Repository sebastianbergmann/phpunit, pull requests merged in 2024-03, with the labels that each got.

#5729 assertArrayIsIdenticalToArrayOnlyConsideringListOfKeys(): bug fix - array order not correctly handled
  src/Framework/Assert.php
  tests/unit/Framework/AssertTest.php
Labels: type/bug, feature/assertion

#5738 Enhancement: Run tests nightly at 12.15am
  .github/workflows/ci.yaml
Labels: type/build-automation

#5742 Prevent file IO when not strictly necessary
  .psalm/baseline.xml
  src/Framework/TestSuite.php
  src/Runner/Baseline/Issue.php
  src/Runner/PhptTestCase.php
  src/Runner/ResultCache/DefaultResultCache.php
  src/TextUI/Application.php
  src/TextUI/Configuration/Cli/Builder.php
  src/TextUI/Configuration/TestSuiteBuilder.php
  src/Util/Filter.php
  src/Util/PHP/AbstractPhpProcess.php
Labels: feature/test-runner, type/performance, version/10, version/11

#5743 Prevent unnecessary `ExecutionOrderDependency->getTarget()` call
  src/Framework/ExecutionOrderDependency.php
Labels: feature/test-runner, type/performance, version/10, version/11

#5744 Simplify NamePrettifier->prettifyTestMethodName()
  src/Logging/TestDox/NamePrettifier.php
Labels: type/refactoring, feature/testdox, type/performance, version/10, version/11

#5750 Micro-optimize `NamePrettifier::prettifyTestMethodName()` once again
  src/Logging/TestDox/NamePrettifier.php
Labels: feature/testdox, type/performance
